MYSQL_ROOT_PASSWORD=troque-esta-senha-root
MYSQL_DATABASE=feedback_hub
MYSQL_APP_USER=feedback_app
MYSQL_APP_PASSWORD=troque-esta-senha-app

CORS_ORIGIN=http://SEU_IP_OU_DOMINIO
JWT_SECRET=troque-este-segredo-jwt
DEFAULT_LOGIN_EMAIL=mfo.oliveira0013@gmail.com
FRONTEND_PORT=80

